extends ./layout/app 

block contenido 
    div(class="py-10")
        h1(class="text-center italic font-extrabold text-6xl pt-10") 404
        h2(class="text-center text-4xl font-extrabold pt-3")= pagina