
header.bg-indigo-600.p-2 
    div.container.mx-auto.flex.justify-between.items-center
        a(href="/")
            h1.text-2xl.text-white.font-extrabold.text-center Bienes 
                span.font-normal Raices
        
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white") 
            a(href="/registro" class="hover:bg-indigo-400 py-1 px-3 rounded-md") Crear Cuenta
            a(href="/login" class="hover:bg-indigo-400 py-1 px-3 rounded-md") Iniciar Sesión

if categorias 
    div(class="bg-indigo-700 py-2 hidden lg:block")
        div(class="container mx-auto flex justify-between")
            nav(class="flex gap-4 items-center")
                each categoria in categorias
                    a(href=`/categoria/${categoria.id}` class="text-sm font-bold uppercase text-white")= categoria.nombre
            
            form(action="/buscador" method="POST" class="flex gap-3 items-center")
                label(for="termino" class="text-sm uppercase font-bold text-white") Busqueda 
                input(type="text" id="termino" name="termino" placeholder="Buscar Propiedades" class="text-sm p-2 rounded-lg shadow")
                
                input(type="submit" value="buscar" class="text-sm bg-indigo-800 hover:bg-indigo-400 rounded-lg text-white uppercase font-bold p-2 cursor-pointer")